.sidebar {
  background-color: $sidebar-color;
  padding: 0;
  height: 100vh;
  transition: $transition;
  overflow-y: auto;

  .sidebar-header {
    display: flex;
    align-items: center;
    height: 64px;
  }

  .sidebar-title {
    color: $color-light;
    text-align: left;

    h2 {
      margin: 0;
    }
  }

  .sidebar-button {
    text-align: right;

    .hamburger {
      color: $color-light;
      font-size: 24px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .sidebar-menu {

    .side-menu-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .menu-item {
        padding: 12px 12px;

        border-left: 5px solid $sidebar-color;

        &:hover {
          background-color: $hover-color;
          border-left: 5px solid $brand-main-color;
          transition: $transition;

          .menu-link {
            color: $color-light;
          }
          .menu-link-icon {
            filter: invert(1);
          }
        }
      }

      .menu-item .menu-link {
        color: grey;
        text-decoration: none;
      }
      .menu-item .active {
        color: $color-light;
        font-weight: bold;

        .menu-link-icon {
          filter: invert(1);
        }
      }

      .menu-item .menu-link-icon {
        filter: invert(0.5);
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }

    .manager-title {
      text-align: center;
      color: $hover-color;
      border-top: 1px solid gray;
      margin: 24px 0;
    }

    .manager-data {
      display: flex;
      justify-content: center;
      align-items: center;

      .manager-image {
        position: relative;
        padding-right: 5px;
      }

      .manager-image img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
      }

      .manager-image .manager-dot {
        background-color: $manager-dot-color;
        top: -45px;
        left: -18px;
      }

      .manager-name {
        padding-left: 5px;
      }

      .manager-name a {
        color: $color-light;
        text-decoration: none;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .top-menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 64px;

    .menu-item {
      border-left: 5px solid $sidebar-color;
    }

    .menu-item .menu-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: gray;
    }

    .menu-item .menu-link-icon {
      filter: invert(50%);
      height: 24px;
      width: 24px;
    }

    .menu-item .total-amount{
      margin: 0 10px;
    }

    .menu-item .user-name {
      margin: 0 10px;
    }
  }

  .top-menu-list .menu-item {
    display: flex;
    align-items: center;
    padding: 0 20px;


    &:hover {
      background-color: $hover-color;
      border-left: 5px solid $brand-main-color;
      transition: $transition;

      .menu-link {
        color: $color-light;
      }

      .menu-link-icon {
        filter: invert(100%);
      }
    }
  }
}
