.topbar {
  padding: 0;
  position: fixed;
  z-index: 1;
  background-color: $color-light;

  .topbar-menu {
    display: flex;
    justify-content: flex-end;
    height: 64px;

    .top-menu-list {
      display: flex;
      list-style: none;
      margin: 0;

      .menu-item .menu-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: gray;
      }

      .menu-item .menu-link-icon {
        filter: invert(50%);
        height: 24px;
        width: 24px;
      }

      .menu-item .total-amount{
        margin: 0 10px;
      }

      .menu-item .user-name {
        margin: 0 10px;
      }
    }

    .top-menu-list .menu-item {
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-left: 1px solid lightgrey;

      &:hover {
        background-color: $brand-main-color;
        transition: $transition;

        .menu-link {
          color: $color-light;
        }

        .menu-link-icon {
          filter: invert(100%);
        }
      }
    }
  }
}
