/* Colors */
$paragraph-color: #000000;
$brand-main-color: #FF9A38;
$sidebar-color: #202020;
$hover-color: #898989;
$color-light: #ffffff;

$manager-dot-color: #04AE00;
$signups-dot-color: #80BFCA;
$ftd-dot-color: #FF9A38;
$earned-dot-color: #59B66D;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Transition */
$transition: all 0.3s;
