.general-subpage .links, .links-subpage .links {
  background-color: $color-light;
  margin: 20px 0;
  padding: 0;
  width: 97%;

  .links-title {
    color: $hover-color;
    border-bottom: 2px solid whitesmoke;
  }

  .list-wrapper {
    display: flex;
    justify-content: center;

    .links-list {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }

    .links-list .links-item {
      display: flex;
      align-items: center;
      border-top: 1px solid whitesmoke;
      border-bottom: 1px solid whitesmoke;

      &:hover {
        background-color: whitesmoke;
        transition: $transition;

        .icons-wrapper {
          display: flex;
          justify-content: center;
        }
      }

      .link-name {
        color: gray;
      }

      .link-address {
        text-decoration: none;
        padding: 0;
        margin: 0;
        color: $signups-dot-color;

        &:hover {
          color: $brand-main-color;
          transition: $transition;
        }
      }

      .icons-wrapper .icon-image {
        margin: 10px;
        width: 20px;
        height: 20px;

        &:hover {
          transform: scale(1.1);
          transition: $transition;
        }
      }
    }
  }
}
